/*business*/


.businessInfoPage{
  margin: 5%;
}
.businessInfoForm{
  display: inline-block;
  float: left;
  clear: both;

  width: 40%;

}

.businessName{
  float: right;
}

.business-greeting {
  
}

.fb-menu-settings-options {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;

}