.extendConvo{
/*  height: 60vh;*/
  margin-left: 500px;
    position: static;
/*    left: 600px;*/
    width: 2000px;
    display: flex;
    overflow-x: scroll;
    float: left;
}

.layerCol{
  width: 300px;
  display: block;
  vertical-align: top;
  float: left;
  clear: both;

}


.layer{
  display: block;
  width: 100%;
  height:60vh;
  margin: 10% 0 10% 0;
}
