#theNavbar {
/*  background: #fff;*/

  z-index: 9999;
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #DDDDDD;
  background-color: transparent;

  > li {
    display: inline-block;
    float: none;
    margin: 5px;
    > a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

#NavBarLogo{
  //  background: #fff;
  font-size: 3em;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: bold;
  height: 70px;
  padding-top: 20px;
  padding-bottom: 0;
}
.navbar-link{
  color: #5cceb0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  vertical-align: center;
  font-size: 1.5em;
  font-weight: bold;

}
.navbar-mini-container{
  width: 50%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  vertical-align: center;
}
.navbar-item{
  position: relative;
  /*top:40%;*/
}
#navbar-logo{
  position: relative;
  /*top:20%;*/
}

#navbar-logo a:hover {
  text-shadow: 2px 2px black;
  color: #5cceb0;
  text-decoration: none;
}

.navbar-item a:hover {
  /*font-size: 2em;*/
  text-shadow: 1px 1px #CCCCFF;
  text-decoration: none;
  color: #5cceb0;
}

.navbar-mini-container span {
  line-height: 10vh;
  vertical-align: middle;
}

#navbar-logo-image-left {
  float: left;
  /*border: 2px solid red;*/
  width: 9vh;
  height: 9vh;
}

#navbar-logo-image-right {
  float: right;
  /*border: 2px solid red;*/
  width: 9vh;
  height: 9vh;
}