/*ProductPage*/
.ProductPage{
  width: 200px;
  height: 90vh;
  background-color:rgb(226,110,85);
  border: 3px solid rgb(63,62,58);
  position: fixed;
  float: left;
  z-index : 1;
  margin-top: 0px;
}
.productHeader{
    text-align: center;
    font-weight: bold;
    background: rgba(241,243,232, 0.1);
    padding-top: 2px;
    padding-bottom: 2px;
    border: 0px 0px 2px 0px solid rgb(63,62,58);
}
.product-div{
  cursor: pointer;
}
.product-box{
  text-align: center;
  padding: 0 -2px 2px -2px;
  margin-bottom: -1px;
  border: 2px solid rgb(63,62,58);
  width: 100%
}
.product-box:hover{
  color: white;
  cursor:pointer;
}
.hightlight{
  color: white;
  background-color: rgb(63,62,58);
}
/*buttons*/

.btn-remove{
  float: right;
  margin-right: 20%;
  background: transparent;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
}
.addProduct{
  color: black;
  width:100%;
/*  margin: 5%;*/
  height: 50%;
  display: block;
/*  padding-bottom: 5%;*/
}
.addtoplayernode{
  margin-bottom: 500px;
}

.productinput{
  margin-top: 50px;
}
.productName{
  width: 100%
}
.productName input{
   border: 1px solid rgb(63,62,58, 0.7);
   background: rgb(241,243,232);
   color: black;
   margin: 5px;
   width: 70%;
}
.productName input:focus {
    outline: none;
    border-color:   #708090;
    box-shadow: 0 0 10px  #708090;
}

.productLayer{
  width: 60%;
  display: block;
  margin: auto;
}
.product-title{
    box-shadow: 10px 10px 5px #888888;
}
#firstQuestion{
  display: block;
  margin: 0 5%;
  width: 60%;
  box-shadow: 10px 10px 5px #888888;
}

.bodyText{
  display: block;
  text-align: center
}
.layerCol{
  width: 25%;
  display: inline;
}

#ProductList{
  display: block;
  margin: 5%;
/*  padding: 5px 140px;*/
  width: 60%;
  box-shadow: 10px 10px 5px #888888;
}

.textarea{
  display: block;
  margin: auto;
  font-size: 1.5em;
  background-color: white;

}
/*.bookmark-box {

  background: #B0C4DE;
  width: 100%;
  height: auto;
  padding: 15px 15px 15px 25px;
  display: inline-table;
  margin: 25px 50px 0 0;
}

.bookmark-box p {
  color: #f8f8f8;
  font-weight: 200;
  opacity: .6;
}

.bookmark-title {
  position: relative;
  width: 80%;
  background: #4682B4;
  padding: 5px 10px 5px 10px;
  margin: 0 0 20px -36px
}

.bookmark-title h3 {
  color: #f8f8f8;
  font-family: 'Oswald', sans-serif
}

.bookmark-title:before {
  content: ' ';
  position: absolute;
  height: 0;
  width: 0;
  border: 10px solid;
  z-index: -1;
  left: 4px;
  top: 24px;
  border-color: #191970 transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}




.gotolink {
  background: #4682B4;
  position: relative;
  padding: 5px 8px 5px 10px;
  width: 40%;
  margin: -3% 0 0 60%;
  box-shadow: 10px 10px 5px #888888;
}

.gotolink h4 {
  color: #f8f8f8;
  font-weight: bold
}

.gotolink a {
  color: #f8f8f8;
  transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out
}

.gotolink a:hover {
  color: #191970
}

.gotolink:before {
  content: ' ';
  position: absolute;
  height: 0;
  width: 0;
  border: 10px solid;
  left: 110px;
  top: 20px;
  z-index: -1;
  border-color: #191970 transparent transparent;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

a.boxclose {
  color: #f8f8f8;
  float: right;
  margin: -10px -2px 0 0;
  cursor: pointer;
  font-weight: bold;
  transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out
}


*/
