/*button*/
.btn-form{
  background: transparent;
  margin: 5px;
  border: 1px solid white;
}
.btn-remove{
  margin: -7px 5px 5px 0px;
  float: right;
  background-image: none;
  background: transparent;
  color: black;
  font-size: 2em;
  font-weight: bold;
  border: none;
}

/*form*/
.nodeBox{
  color: rgb(63,62,58);
  background-color: rgb(188,235,215);
  border-style: solid;
  border-width: 4px;
  border-color: rgb(134,211,191);
  width: 300px;
  height: 100%;
  display: block;
  margin: 10px 0px;
}
.nodeBox select{
  color: black;
}


.formQuest{
  padding: 5px 5px 20px 5px;
  background-color: rgb(134,211,191);
  color:  rgb(63,62,58);
  width: 100%;
}
.formQuest div{
  background-color: white;
  color: black;
}

.form input{
  color: black;
}

.answer{
  background-color: transparent;
  position: relative;
  width: 100%;
  padding-left: 20px;

}
/*.answer:hover{
  color: blue;
  background-color:#F5F5F5;
}*/


.answer.active{
  background-color: rgb(63,62,58);
  width: 100%;
  color: white;
}
.answer.active input{
  background-color:rgba(241,243,232, 0.2);
  width: 100%;
  color: white;
  border: 1px rgb(63,62,58);
  border-radius: 0px;
}


.far-right-button {
  position: absolute;
  right: -10px;

}
