/*button*/
.btn-form{
  background: transparent;
  margin: 5px;
  border: 1px solid white; 
}
.btn-remove{
  margin: 5px;
  float: right;
  background-image: none;
  background: transparent;
  color: black;
  font-size: 2em;
  padding: 5px;
  font-weight: bold;
  border: none;
}
.addtoplayernode{
  height: 30px;
  width: 100%;
  text-align: center;
  padding: 4px;
}
.addtoplayernode:hover {
    background-color: #808080; /* gray */
    background-image: none;
    color: white;
    border-radius: 5px;
}

/*form*/
.nodeBox{
  color: black;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #F5F5F5;
  width: 100%;
  height: 100%;
  display: block;
}
.nodeBox select{
  color: black;
}

.form{
  margin: 10px 0 10px 0;
}  
.form input{
  color: black;
} 

.formQuest textarea{
  background-color: white; 
  width: 80%;
}

#answerOfPrevNode{
  display: inline-block;
  margin: auto;
  width: 50%; 
}
.answer{
  background-color: transparent;
  position: relative;
  padding-left: 20px;

}
.answer:hover{
  color: blue;
  /*background-color:#F5F5F5; */
}


.answer.active{
  background-color: rgba(204,204,0, 0.5);
  width: 100%;
  box-shadow: 0 0 15px rgb(204,204,0);
  border-radius: 10px;
}


.far-right-button {
  position: absolute;
  right: -10px;

}
