/*button*/
.btn-form{
  background: transparent;
  margin: 5px;
  border: 1px solid white; 
}
.btn-remove{
  margin: 5px;
  float: right;
  background-image: none;
  background: transparent;
  color: black;
  font-size: 2em;
  padding: 5px;
  font-weight: bold;
  border: none;
}

/*form*/
.nodeBox{
  color: rgb(63,62,58);
  background-color: rgb(188,235,215);
  border-style: solid;
  border-width: 4px;
  border-color: rgb(134,211,191);
  width: 300px;
  height: 100%;
  display: block;
  margin-bottom: -2px;
}
.nodeBox select{
  color: black;
}


.formQuest{
  margin-top: -10px;
  padding-left: 5px;
  background-color: rgb(134,211,191); 
  color:  rgb(63,62,58);
  width: 100%;
}
.form input{
  color: black;
}

#answerOfNode{
  display: inline-block;
  margin: auto;
  width: 50%;
}
#answerOfPrevNode{
  display: inline-block;
  margin: auto;
  width: 50%; 
}
.answer{
  background-color: transparent;
  position: relative;
  padding-left: 20px;

}
/*.answer:hover{
  color: blue;
  background-color:#F5F5F5; 
}*/


.answer.active{
  background-color: rgb(63,62,58);
  width: 100%;
  color: white;
}
.answer.active input{
  background-color:rgba(241,243,232, 0.2);
  width: 100%;
  color: white;
  border: 1px rgb(63,62,58);
  border-radius: 0px;
}


.far-right-button {
  position: absolute;
  right: -10px;

}
