body
  background offwhite

/*
  Buttons
*/

.control-buttons
  display flex
  justify-content space-between

button, .button
  border 2px solid lighten(grey, 90%)
  background none
  flex-basis 48%
  display inline-block
  line-height 2
  text-decoration none
  padding 5px
  text-align center
  font-size 15px
  color blue
  transition all 0.2s
  box-sizing padding-box
  &:hover, &:focus
    border-color blue
    outline 0

.nodeBox{
  background-color: #F8F5EC;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #F5F5F5;
  width: 50vh;
  vertical-align: center;
  padding: 5%;
  float: left;
  clear: both;
}

.layerBox{
  background-color: lightblue;
  outline-style: solid;
  outline-width: 2px;
  outline-color: black;
  height:31vh;
}

.productLayer{
  background-color:#F8F5EC;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
}







