body{
  background-image: url("https://www.protolabs.com/resourceimages/united-states/cool-idea-follow-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

}

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}


.addtoplayernode{
  height: 30px;
  width: 100%;
}

/*
  Buttons
*/
#root{
  height: 100%;
}
.chatbotPage{
  height: 100%;
}

#start{
    display: block;
    margin: auto;
    width: 25%;
    font-size: 2em;
}

.btn-effect {
  background: transparent;
  border: 0 solid;
  padding: 5px;
  box-shadow: inset 0 0 20px    rgb(70,130,180, 0);
/*  outline: 1px solid;*/
/*  outline-color:    rgb(70,130,180, .5);*/
/*  outline-offset: 0px;*/
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-effect:hover {
/*  background: transparent; */
 /* font-size: 2em;*/
  border: 1px solid;
  box-shadow: inset 0 0 20px  rgb(70,130,180, .5), 0 0 20px  rgb(70,130,180, .2);
  outline-color:    rgb(25,25,112, 0);
/*  outline-offset: 20px;*/
  text-shadow: 1px 1px 2px #FFFFFF;
}


/*NavBar*/

#navbar-primary .navbar-nav {
//  background: #ededed;
  width: 100%;
  text-align: center;
  > li {
    display: inline-block;
    float: none;
    > a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
#navbar-primary.navbar{
  margin: 0;
  margin-bottom: 0;
}
#NavBarLogo{
  //  background: #ededed;
  font-size: 3em;
  font-family: Helvetica;
  font-weight: bold;
  height: 90px;
  padding: 30px;
}

/*Home*/
.homePage{
  margin-top: -20px;
}

.homeGif{
  width: 100%;
  height: 90vh;
}
.imgCol{
  display: inline-block;
}

.textCol{
  display: inline-block;
  margin: 5%;
}



.layerCol{
  width: 25%;
  float: left;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}


.slide{
  background-color: #B0C4DE;
}

.layer{
  display: block;
  width: 100%;
  height:60vh;
  margin: 10% 0 10% 0;
}


.form input{
  color: black;
}

.formQuest textarea{
  background-color: black;
  width: 80%;
}
#answerOfNode{
  display: inline-block;
  margin: auto;
  width: 50%;
}

.quote .pointerRight {
  z-index: -1;
  position: absolute;
  height: 0;
  padding-bottom: 8.4%;
  width: 15.6%;
  bottom: 25%;
  left: 100%;
  background: inherit;
  -moz-border-radius-bottomright: 100% 60%;
  -webkit-border-bottom-right-radius: 100% 60%;
  border-bottom-right-radius: 100% 60%;
}
.quote .pointerRight:before {
  content: '';
  background: #fff;
  position: absolute;
  width: 150%;
  height: 150%;
  left: -17%;
  bottom: 50%;
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  -moz-border-radius-bottomright: 100% 60%;
  -webkit-border-bottom-right-radius: 100% 60%;
  border-bottom-right-radius: 100% 60%;
}

.quote .pointerLeft {
  z-index: -1;
  position: absolute;
  height: 0;
  padding-bottom: 8.4%;
  width: 15.6%;
  bottom: 25%;
  right: 100%;
  background: inherit;
  -moz-border-radius-bottomleft: 100% 60%;
  -webkit-border-bottom-left-radius: 100% 60%;
  border-bottom-left-radius: 100% 60%;
}
.quote .pointerLeft:before {
  content: '';
  background: #fff;
  position: absolute;
  width: 150%;
  height: 150%;
  right: -17%;
  bottom: 50%;
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
  -moz-border-radius-bottomleft: 100% 60%;
  -webkit-border-bottom-left-radius: 100% 60%;
  border-bottom-left-radius: 100% 60%;
}


/*business*/
.businessPage{
  margin: 5%;
}

.businessInfoPage{
  margin: 5%;
}
.businessInfoForm{
  display: inline-block;
  float: left;
  clear: both;

  width: 40%;

}

.businessName{
  float: right;
}

@import ('./metal.css');
@import ('./product.css');
@import ('./singleForm.css');
@import ('./toplayer.css');
