
#test-container{
  height: 65%;
  width: 25%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 10px;
  right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  vertical-align: bottom;
}

.test-box {
  overflow: hidden;
  border-width: 3px;
  border-style: solid;
  background: white;
  border-radius: 20px;

}

#chat-input {
  width: 90%;
}

.test-input{
  display: inline-block;
  margin: 0;
  right: 0;
  width: 50%;
  font-family: sans-serif;
  font-size: 12px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  left: 0;

}

.test-form{
  position: fixed;
  bottom: 0;
  width: auto;
  margin-bottom:  15px;
  margin-left: 20px;
  /*margin-right: 15px;*/
}

.test-input::focus{
  outline: none;
}

.test-send-btn{
  width: 33px;
  height: 33px;
  background-color: #FFFFFF;
  outline: none;
  border: none;

}
.test-send-img{
  /*margin-bottom:  25px;
  margin-right: 25px;*/
  height: auto;
  width: auto;
  max-height: 30px;
  max-width: 30px;
  /*position: fixed;*/
  bottom: 0;
  right: 0;

}


ul.ChatLog {
  list-style: none;
}

#ChatLog-container {
  position: relative;
  /*border: 1px solid red;*/
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 480px;
  top: 30px;
  margin-left: 6px;
  margin-right: 6px;
}

#ChatLog-container::-webkit-scrollbar-track
{
  background-color: #FFFFFF;
}

#ChatLog-container::-webkit-scrollbar
{
  width: 5px;
  background-color: #FFFFFF;
}

#ChatLog-container::-webkit-scrollbar-thumb
{
  background-color: #BBBBBB;
  border: none;
}

.ChatLog {
  max-width: 20em;
  margin: 0 auto;
  padding-left: 5px;
}
.ChatLog .ChatLog__entry {
  margin: .5em;
}

.ChatLog__entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
}

.ChatLog__entry.ChatLog__entry_mine {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.ChatLog__avatar {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 25px;

}

.ChatLog__entry.ChatLog__entry_mine
.ChatLog__avatar {
  display: none;
}

.ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 12px;
}

.ChatLog__entry .ChatLog__message::before {
  position: absolute;
  right: auto;
  bottom: .6em;
  left: -12px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f;
}

.ChatLog__message {
  background-color: #ddd;
  padding: .5em;
  border-radius: 4px;
  font-weight: lighter;
  max-width: 70%;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  border-top: 1px solid #07f;
  border-bottom: 1px solid #07f;
  background-color: #08f;
  color: #fff;
}

.ChatLog__message .ChatLog__timestamp {
  display: none;
}

#text-box-container {
 

}

#toggleChatbox {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*#test-container::-webkit-scrollbar-track
{
  background-color: #FFFFFF;
}

#test-container::-webkit-scrollbar
{
  width: 5px;
  background-color: #FFFFFF;
}

#test-container::-webkit-scrollbar-thumb
{
  background-color: #BBBBBB;
  border: none;
}
*/