.toplayer-container{
/*  width: 500px;*/
/*\\  height: 90vh;*/
  display: block;
  margin-left: 200px;
  float: left;
  clear: both;
 /* margin-top: 10px;*/
/*  position: relative;*/
   position: absolute;
   height: 90vh;
   width: 310px;
   overflow-y: auto;
   overflow-x: hidden;
/*  overflow: scroll;*/
}
.addtoplayernode{
  height: 200px;
  width: 100%;
  text-align: center;
  font-size: 5em;
  padding: 20%;
  background: rgba(63,62,58, 0.5)
}
.addtoplayernode:hover {
    background-color: #808080; /* gray */
    background-image: none;
    color: white;
    border-radius: 5px;
}

#toplayer-container::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

#toplayer-container::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#toplayer-container::-webkit-scrollbar-thumb
{
  background-color: #BBBBBB;
  border: 0px;
}
