.toplayer-container{
  width: 313px;
  height: 90vh;
  display: block;
  margin-left: 202px;
  float: left;
  clear: both;
 /* margin-top: 10px;*/
/*  position: relative;*/
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}
.addtoplayernode{
  height: 200px;
  width: 100%;
  text-align: center;
  font-size: 5em;
  padding: 20%;
  background: rgba(63,62,58, 0.5)
}
.addtoplayernode:hover {
    background-color: #808080; /* gray */
    background-image: none;
    color: white;
    border-radius: 5px;
}

#toplayer-container::-webkit-scrollbar-track
{
  background-color: #FFFFFF;
}

#toplayer-container::-webkit-scrollbar
{
  width: 7px;
  background-color: #FFFFFF;
}

#toplayer-container::-webkit-scrollbar-thumb
{
  background-color: #CCCCCC;
  border: 0px;
}
.question.active div.nodeBox {
  background-color: rgb(188,235,215);
  border-color: rgb(134,211,191);
}
.question.active div.formQuest{
  background-color: rgb(134,211,191);
}
.question.active div.answer.active{
  background-color: rgb(63,62,58);
  color: white;
}
.question.active  div.answer.active input{
  background-color:rgba(241,243,232, 0.2);
  width: 100%;
  color: white;
  border: 1px rgb(63,62,58);
  border-radius: 0px;
}
.question.active button.btnAdd{
  background-color: rgb(134,211,191);
}

.question div.nodeBox {
  background-color: rgb(241,243,232);
  border-color:rgb(219,225,189)
}
.question div.formQuest{
  background-color: rgb(219,225,189);
}
.question button.btnAdd{
  background-color: rgb(219,225,189);
}
.question div.answer.active{
  background: transparent;
  color: black;
}
.question .answer.active input{
  background-color: white;
  color: black;
  border: 1px rgb(63,62,58);
  border-radius: 0px;
}
